.App {
  --color-light: rgb(215, 215, 215);
  --color-dark: rgb(40, 40, 40);
  --background-dark: hsl(240, 33%, 7%);
  --background-darker: hsl(240, 33%, 2%);
  --table-height: 5vh;
  color: var(--color-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-image: linear-gradient(to right top, #4a506d, #325b7a, #00677e, #007075, #007862, #047e60, #10835d, #1d8959, #199072, #279687, #3e9b99, #58a0a6);
  background-attachment: fixed;
  min-height: 100vh;
  transition: background-image 5.3 ease-in-out;
  font-weight: 600;
}

.App.Dark {
  background-image: linear-gradient(to right top, #3e4461, rgb(41, 32, 74), rgb(22, 17, 42), rgb(35, 25, 75));
}

.App .Controls {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.ControlGroup {
  display: flex;
  min-width: 20vw;
  margin: auto;
}

.PlayerSearch {
  width: 80%;
}

.App .Content {
  width: 100%;
  padding: 1rem;
  font-size: calc(var(--table-height) * 0.25);
  display: flex;
  justify-content: center;
}

.App table {
  border-collapse: collapse;
  width: 90vw;
}

.App table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: var(--table-height);
}

td, th {
  height: var(--table-height);
  padding: calc(var(--table-height) * 0.05) 1vh;
  margin: 0;
}

td:nth-child(1),th:nth-child(1) {
  width: calc(var(--table-height) * 1.4);
}

td:nth-child(2),th:nth-child(2) {
  width: calc(var(--table-height) * 0.75);
}

td:nth-child(3),th:nth-child(3) {
  width: calc(var(--table-height) * 0.3);
}

td:nth-child(4),th:nth-child(4) {
  width: 1fr;
}

td > .FontAwesomeIcon:not(:first-child) {
  margin-left: 0.5em;
}

.FontAwesomeIcon.Disabled {
  color: rgba(255, 255, 255, 0.1);
}

.PlayerPortrait {
  width: var(--table-height);
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.PlayerName {
  min-width: 15vw;
}

tbody tr:nth-child(2n) {
  background-color: rgba(255,255,255,0.03);
}

tbody tr:nth-child(2n + 1) {
  background-color: rgba(0,0,0,0.03);
}

.PlayerPrice {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3px;
}

.PlayerPrice img {
  height: calc(var(--table-height) * 0.23);
}

.Rating {
  border-radius: 3px;
  margin: auto;
}

.RatingNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--table-height) * 0.6);
  height: calc(var(--table-height) * 0.6);
  font-weight: bold;
  font-size: calc(var(--table-height) * 0.23);
}

.Gold.Rare {
  color: var(--color-dark);
  background: linear-gradient(45deg, #c6a009 0%, #f2c40b 50%, #f2c40b 51%, #f0cf4a 100%);
}

.Gold.NonRare {
  color: var(--color-dark);
  background: #c7aa5f;
}

.Gold.TOTW {
  background: linear-gradient(45deg, #8a710e 0%, #000 50%, #000 51%, #000 100%);
}

.Gold.Libertadores {
  background: linear-gradient(45deg, #171717 10%, #202020 20%, #202020 51%, #0e0e0e 100%);
  color: #D8D8D8;
}

.Silver.Rare {
  color: var(--color-dark);
  background: linear-gradient(45deg, #a9aeb1 0%, #C2C7CA 50%, #C2C7CA 51%, #e9ecf0 100%);
}

.Silver.NonRare {
  color: var(--color-dark);
  background: #979ca4;
}

.Silver.TOTW {
  background: linear-gradient(-290deg, #000, #8d9498);
}

.Bronze.Rare {
  background: linear-gradient(45deg, #6e4c35 0%, #9f7f69 50%, #9f7f69 51%, #ffd9aa 100%);
}

.Bronze.NonRare {
  background: #a17d53;
}

.LowestPrices {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.CoinValue {
  position: relative;
}

.CoinValue::after {
  content: '';
  position: absolute;
  height: 70%;
  aspect-ratio: 1;
  background-image: url("https://www.ea.com/ea-sports-fc/ultimate-team/web-app/images/coinIcon.png");
  background-size: cover;
  translate: 2px 25%;
}
/** Input type Range */

tbody input[type=range] {
  background: transparent;
  height: 100%;
  -webkit-appearance: none;
  width: 100%;
}
tbody input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
tbody input[type=range]::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.2);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
tbody input[type=range]:disabled , 
tbody input[type=range]:disabled::-webkit-slider-thumb, 
tbody input[type=range]:disabled::-webkit-slider-runnable-track {
  cursor: default;
}

.FetchFutbinData {
  color: var(--color-light);
  cursor: pointer;
  font-size: calc(var(--table-height) * 0.25);
}

.FetchFutbinData:hover {
  color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: var(--color-light);
  opacity: 0.5; /* Firefox */
}

/** Begin - Theme Picker */

.theme-picker {
  height: 20px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
}

.theme-picker::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  inset: 2px;
  transition: translate .3s ease-in-out;
  
}

.theme-picker.Dark::before {
  translate: 20px 0;
}

/** End - Theme Picker */

/** Begin - Ui Scale Control */

.ui-scale-control {
  position: relative;
  height: 30px;
  width: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.ui-scale-control > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.ui-scale-control > div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.ui-scale-control > div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/** End - Ui Scale Control */

.App .Controls input[type=text] {
  height: 2rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  color: var(--color-light);
  padding: 0px 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  appearance: none;
  outline: none;
}